<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.container{
    display: flex;
    justify-content: center;
    
}
.container1{
    display: flex;
    justify-content:space-around;
    align-items:center;

}
.container2{
    display: flex;
    justify-content:space-between;
   border: 3px solid red
    
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container4{
    display: flex;
    justify-content:left;
    
}
.container5{
    display: flex;
    justify-content:right;
    
}


    </style>
</head>
<body>

    <div class="container">
        <div> Item1</div>
        <div>Item2</div>
        <di>Item3</di>

        </div>
        <hr>
    <div class="container1">
<div> Item1</div>
<div>Item2</div>
<di>Item3</di>
</div>
<hr>
<div class="container2">
    <div> Item1</div>
    <div>Item2</div>
    <di>Item3</di>
    </div>
    <hr>
    <div class="container3">
        <div> Item1</div>
        <div>Item2</div>
        <di>Item3</di>
        </div>
        <hr>
        <div class="container4">
            <div> Item1</div>
            <div>Item2</div>
            <di>Item3</di>
            </div>
            <hr>
            <div class="container5">
                <div> Item1</div>
                <div>Item2</div>
                <di>Item3</di>
                </div>

</body>
</html>